* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html { 
    overflow-y: hidden; 
}

body { 
    color: #111;
    background-color: #1f8dd6;
}   

.half {
    height: 50vh;
}

.height-1-8 {
    height: 12.5vh;
}

.height-2-8,
.height-1-4 {
    height: 25vh;
}

.height-3-8 {
    height: 37.5vh;
}

.height-4-8, .height-2-4 {
    height: 50vh;
}

.height-5-8 {
    height: 62.5vh;
}

.height-6-8, .height-3-4 {
    height: 75vh;
}

.height-7-8 {
    height: 87.5vh;
}

.height-8-8, .height-4-4  {
    height: 100vh;
}

.info-box--title {
    margin: auto;
}

.info-box {
    text-align: center;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
}

.l-box.middle {
    margin: auto;
}

.text-box-head {
    color: #fff;
    padding-bottom: 0.2em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 2em;
}

.text-box-subhead {
    font-weight: normal;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.info-box-data-container {
    margin: 10px auto;
}

.text-box-number {
    font-size: 8em;
}

.serve-table {
    color: #111;
    font-size: 3px;
    border: none;
}


.serve-table th, .serve-table td {
    font-size: 60px;
    font-weight: bold;
    border: none;
}

.serve-table th
{
    color: white;
}

.serve-table .serve-table-head {
    background: none;
}


